.header {
  background-color: black;
}

.logoDiv {
  text-align: center;
  margin-bottom: -10px;
}

.header img {
  width: 150px;
  height: 100px;
}

.navLinks li{
  color: white;
  text-align: center;
  list-style-type: none;
  margin: 10px 10px;
}

.navLinks li:hover {
  color: goldenrod;
  cursor: pointer;
}

.navLinks {
  margin: 0 20px 10px -10px;
}

.appointmentSctn {
  text-align: center;
}

.appointmentSctn button {
  background-color: rgb(248, 47, 111);
  padding: 5px;
  border: 1px solid goldenrod;
  border-radius: 5px;
  margin-bottom: 10px;
}




@media screen and (min-width: 426px) and (max-width:768px){
  /* for tablet: */
.header {
  display: flex;
  justify-content: space-between;
  width: 768px;
}

.navLinks {
  display: flex;
  gap: 5px;
  margin-top: 28px;
}

.appointmentSctn {
  padding: 30px 15px 0 0;
}

}


@media screen and (min-width: 769px) {
  /* for large screen: */
.header {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  margin-top: 30px;
  gap: 20px;
}

.appointmentSctn {
  padding: 30px 15px 0 0;
}

.logoDiv {
  margin-left: 20px;
}
}